.DS_Store
.env

# Ignore everything in .idea by default
.idea/*

# But allow some specific shared settings
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/fileColors.xml
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/scopes/